/*
   FLEX BASIS
*/
.fb-i { -ms-flex-preferred-size: inherit; flex-basis: inherit; }
@media screen and (min-width: 48em) {
 .fb-i-ns { -ms-flex-preferred-size: inherit; flex-basis: inherit; }
}
@media screen and (min-width:48em) and (max-width: 64em) {
 .fb-i-m { -ms-flex-preferred-size: inherit; flex-basis: inherit; }
}
@media screen and (min-width: 64em) {
 .fb-i-l { -ms-flex-preferred-size: inherit; flex-basis: inherit; }
}

