/*
   FLEX BASIS
*/

.fb-i { flex-basis: inherit; }

@media screen and (min-width: 32em) {
  .fb-i-s { flex-basis: inherit; }
}

@media screen and (min-width:48em) {
  .fb-i-m { flex-basis: inherit; }
}

@media screen and (min-width: 96em) {
  .fb-i-l { flex-basis: inherit; }
}

